<div class="dashboard">
    <h2 class="margin-left-10 margin-top-10">{{ 'dashboard.customer' | translate }}</h2>
    <nav class="menu margin-left-10">
        <a routerLink="/customer-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'dashboard.home' | translate }}</a>
        <a routerLink="claims" routerLinkActive="active">{{ 'dashboard.myClaims' | translate }}</a>
        <a routerLink="new-claim" routerLinkActive="active">{{ 'dashboard.newClaim' | translate }}</a>
        <a routerLink="partner-garage" routerLinkActive="active">{{ 'dashboard.partnerGarage' | translate }}</a>
        <a routerLink="rental" routerLinkActive="active">{{ 'dashboard.rental' | translate }}</a>
    </nav>

    <hr />
    <router-outlet></router-outlet>

</div>