    <div class="container my-5">
        <div *ngIf="claim" class="p-4">
            <h2 class="page-title">{{ 'claim.statusFlow' | translate }}</h2>

            <!-- Status Flow -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="section-title mb-0">{{ 'claim.statusTimeline' | translate }}</h5>
                </div>
                <div class="card-body">
                    
                    <ul class="list-group list-group-flush">
                        <!-- Claim Id -->
                        <li class="list-group-item">
                            <strong>{{ 'claim.id' | translate }}: </strong>
                            <span class="float-end">
                                {{ claim.claimId }} <button (click)="showClaimDetails()" class="btn btn-outline-primary btn-sm align-right">{{ 'claim.viewDetails' | translate }}</button>
                            </span> 
                        </li>

                        <!-- Status -->
                        <li class="list-group-item">
                            <strong>{{ 'claim.currentStatus' | translate }}: </strong>
                            <span class="float-end">{{ claim.status }}</span>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ 'claim.submitted' | translate }}: </strong>
                            <span class="float-end">{{ claim.createdAt | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>

                        <li class="list-group-item" *ngIf="claim.assignment && claim.assignment.assignedAt">
                            <strong>{{ 'claim.managerAssigned' | translate }}: </strong>
                            <span class="float-end">{{ claim.assignment.assignedAt | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>

                        <li class="list-group-item" *ngIf="claim.assignment && claim.assignment.assignedAt">
                            <strong>{{ 'claim.adjusterAssigned' | translate }}: </strong>
                            <span class="float-end">{{ getEventDate('ADJUSTER_ASSIGNED') | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>
                        
                        <li class="list-group-item" *ngIf="claim.assignment && claim.assignment.surveyor">
                            <strong>{{ 'claim.partnerAssigned' | translate }}: </strong>
                            <span class="float-end">{{ getEventDate('SURVEYOR_ASSIGNED') | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ 'claim.surveyCompleted' | translate }}: </strong>
                            <span class="float-end">{{ getEventDate('SURVEY_COMPLETED') | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ 'claim.approved' | translate }}: </strong>
                            <span class="float-end">{{ getEventDate('APPROVED') | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>

                        <li class="list-group-item">
                            <strong>{{ 'claim.settled' | translate }}: </strong>
                            <span class="float-end">{{ getEventDate('SETTLED') | date:'yyyy-MM-dd HH:mm' }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
