<div class="dashboard">
  <h2 class="margin-left-10 margin-top-10">{{ 'dashboard.adjuster' | translate }}</h2>

  <nav class="menu margin-left-10">
    <a routerLink="claims" routerLinkActive="active">{{ 'dashboard.allClaims' | translate }}</a>
    <a routerLink="approved-claims" routerLinkActive="active">{{ 'dashboard.approvedClaims' | translate }}</a>
    <a routerLink="rejected-claims" routerLinkActive="active">{{ 'dashboard.rejectedClaims' | translate }}</a>
    <a routerLink="reports" routerLinkActive="active">{{ 'dashboard.reports' | translate }}</a>
  </nav>

  <hr />

  <router-outlet></router-outlet>
</div>