.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.page-wrapper .card {
  max-width: 90%;
  width: 100%;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.align-right {
  float: right;
}