<div class="container mt-4">
    <h3 class="text-primary text-center mb-4">Claims Overview</h3>

    <div class="row text-center mb-4">
        <!-- Total Claims -->
        <div class="col-md-2">
            <div class="card stats-card bg-light shadow-sm p-3 rounded">
                <h5>Total Claims</h5>
                <h2>{{ totalClaims }}</h2>
            </div>
        </div>

        <!-- Submitted Claims -->
        <div class="col-md-2">
            <div class="card stats-card bg-light shadow-sm p-3 rounded">
                <h5>Submitted</h5>
                <h2>{{ submiited }}</h2>
            </div>
        </div>

        <!-- In Progress -->
        <div class="col-md-2">
            <div class="card stats-card bg-light shadow-sm p-3 rounded">
                <h5>In Progress</h5>
                <h2>{{ inprogress }}</h2>
            </div>
        </div>

        <!-- Survey Completed -->
        <div class="col-md-2">
            <div class="card stats-card bg-light shadow-sm p-3 rounded">
                <h5>Survey Completed</h5>
                <h2>{{ surveyCompleted }}</h2>
            </div>
        </div>

        <!-- Approved -->
        <div class="col-md-2">
            <div class="card stats-card bg-light shadow-sm p-3 rounded">
                <h5>Approved</h5>
                <h2>{{ approved }}</h2>
            </div>
        </div>

        <!-- Settled -->
        <div class="col-md-2">
            <div class="card stats-card bg-light shadow-sm p-3 rounded">
                <h5>Settled</h5>
                <h2>{{ settled }}</h2>
            </div>
        </div>
    </div>


    <div class="text-center mt-4">
        <button routerLink="claims" class="btn btn-primary m-2">View All Claims</button>
        <button routerLink="#" [disabled]="true" class="btn btn-secondary m-2">Assign Claims</button>
        <button routerLink="reports" class="btn btn-success m-2">View Reports</button>
    </div>
</div>