<div class="dashboard">
  <h2 class="margin-left-10 margin-top-10">Manager Dashboard</h2>

  <nav class="menu margin-left-10">
    <a routerLink="/manager-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Overview</a> |
    <a routerLink="claims" routerLinkActive="active">All Claims</a> |
    <a routerLink="surveyors" routerLinkActive="active">Surveyor Management</a> |
    <a routerLink="reports" routerLinkActive="active">Reports</a>
  </nav>

  <hr />

  <router-outlet></router-outlet>
</div>
